---
import H2 from "./../../components/Basics/h2.astro";
import Titlehr from "./../../components/Basics/titlehr.astro";
import { getCollection } from "astro:content";
import ProjectCard from "./../../components/Blocks/projectCard.astro";
import Button1 from "./../../components/Basics/button1.astro";

const projects = await getCollection("projects");
const limitedProjects = projects.slice(0, 4);
---

<section class="flex flex-col justify-between w-full min-h-screen p-4 space-y-8 lg:space-y-0 lg:mt-24">
    <section class="space-y-8 h-1/4 w-full">
        <H2>Mis proyectos</H2>
        <Titlehr/>
    </section>

    <main class="h-full grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      {
        limitedProjects.map(project => {
          const { slug, data } = project;
          const { title, imageUrl, projectUrl } = data;
          return (
              <ProjectCard
                title={title}
                description={data.description}
                imageUrl={imageUrl}
                projectUrl={projectUrl}
                url={`/proyectos/${slug}`}
              ></ProjectCard>
          )
        })
      }
    </main>

    <section class="flex items-center justify-center">
        <a href="/proyectos">
            <Button1>Más proyectos</Button1>
        </a>
    </section>
</section>