---
import P from "../Basics/p.astro";

const { title, description, imageUrl, projectUrl } = Astro.props;
---

<article class="max-w-sm rounded-lg overflow-hidden shadow-lg bg-white dark:bg-carbon-500">
  <figure>
    <img class="w-full" src={imageUrl} alt={`Imagen del proyecto ${title}`} />
  </figure>

  <header class="px-6 py-4">
    <h2 class="font-bold text-xl mb-2 text-gray-800 dark:text-white">{title}</h2>
  </header>

  <section class="px-6 py-2">
    <p class="text-gray-700 dark:text-gray-400 text-base">
      {description}
    </p>
  </section>

  <footer class="px-6 pt-4 pb-4">
    <a 
      href={projectUrl} 
      target="_blank" 
      rel="noopener noreferrer"
      class="inline-block bg-green-500 text-white px-3 py-2 rounded-lg hover:bg-green-600"
    >
        <p class="select-none">Ver proyecto</p>
    </a>
  </footer>
</article>
