---
import Layout from "./../layouts/Layout.astro"
import H2 from "../components/Basics/h2.astro";
import Titlehr from "../components/Basics/titlehr.astro";
import { getCollection } from "astro:content";
import ProjectCard from "../components/Blocks/projectCard.astro";
import Button1 from "../components/Basics/button1.astro";

const projects = await getCollection("projects");
---
<Layout title="Joel Arnaud - Projects">
    <section class="flex flex-col justify-between w-full max-h-screen space-y-12 p-4 lg:mt-12">
        <a aria-label="Volver a la página anterior" onclick="window.history.back()" aria-label="Volver a proyectos" class="fixed top-4 left-4 p-2 bg-gray-800 rounded-full text-white hover:text-gray-300 focus:ring-2 focus:ring-offset-2 focus:ring-white z-50">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
        </a>   
        <section class="space-y-8 h-1/4 w-full">
            <H2>Mis proyectos</H2>
            <Titlehr/>
        </section>
    
        <main class="h-full grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
          {
            projects.map(project => {
              const { slug, data } = project;
              const { title, imageUrl, projectUrl } = data;
              return (
                  <ProjectCard
                    title={title}
                    description={data.description}
                    imageUrl={imageUrl}
                    projectUrl={projectUrl}
                    url={`/proyectos/${slug}`}
                  ></ProjectCard>
              )
            })
          }
        </main>
    </section>
</Layout>